h1 {
  font-size: 5vw;
}

aside > * {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #87cdeb;
  margin: 10px 40px;
  text-align: center;
  font-size: 20pt;
}

main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

main > * {
  margin:2px;
  height: 180px;
  position: relative;

}

body {
 background-image: url("../images/mtgbackground.jpg");
 background-size: cover;
 display: flex;
 justify-content: center;
}

.card-front {
  height: 100%;
  width: 100%;
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
}

.card-back {
  height: 100%;
  width: 100%;
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  background-image: url("../images/mtgcardback.jpg");
}

.js-logo {
  background-image: url("../images/mtgforest.jpg");
  height: 100%;
  width: 100%;
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
}

.css-logo {
  background-image: url("../images/mtgisland.jpg");
  height: 100%;
  width: 100%;
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
}

.docker-logo {
  background-image: url("../images/mtgmountain.jpg");
  height: 100%;
  width: 100%;
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
}

.gitHub-logo {
  background-image: url("../images/mtgplains.jpg");
  height: 100%;
  width: 100%;
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
}

.html-logo {
  background-image: url("../images/mtgswamp.jpg");
  height: 100%;
  width: 100%;
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
}

.mysql-logo {
  background-image: url("../images/blacklotus.jpg");
  height: 100%;
  width: 100%;
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
}

.node-logo {
  background-image: url("../images/Garruk.jpg");
  height: 100%;
  width: 100%;
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
}

.php-logo {
  background-image: url("../images/Nicol-Bolas.jpg");
  height: 100%;
  width: 100%;
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
}

.react-logo {
  background-image: url("../images/Nicol-Bolas2.jpg");
  height: 100%;
  width: 100%;
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
}

.hidden {
  display: none;
}

.modal-overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.modal-content {
  background-color:red;
  width: 50%;
  text-align: center;
}

#resetId {
  padding: 20px;
  font-size: 16pt;

}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
h1 {
  font-size:3vw;
}
}

/* Portrait */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
h1 {
  font-size:3vw;
}
}

/* Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
h1 {
  font-size:3vw;
}
} 

/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 2) {
h1 {
  font-size:4vw;
}
}

/* Portrait */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 2) {
    h1 {
  font-size:4vw;
}

}

/* Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 2) {
    h1 {
  font-size:4vw;
}

} 
